.container {
    background-color: #f0f0f0; /* fondo gris */
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    max-width: 100%;
    margin:0 150px;
    margin-top: 30px;
  }
  .social-buttons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-right: 150px;
    margin-top: 1rem;
    align-items: center;
    justify-content: flex-end;
  }
  
  .social-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: #742aa5 !important;
    text-decoration: none !important;
    font-size: 1.5rem;
    background-color: #0e0e0e; /* Violeta */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
  
  .social-button mat-icon {
    color: white;
  }
  
  .social-button:hover {
    
    color:#e6e6e6 !important;
    background-color: #742aa5 !important; 
    transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    .social-buttons-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 0;
      justify-content: center;
      margin-left: 0;
    }
  }
  
   
  /* * Estilos para el contenedor de texto */

  .text-container {
  color: white;
  text-align: left;
  /* margin-left: 2rem;
  margin-right: 2rem; */
  max-width: 600px;
  padding: 1rem 0;
  margin: 0 150px;
}

.title-dashboard {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
title-dashboard
.text-dashboardd{
  font-size: 1rem;
  line-height: 1.6;
  color: #f0f0f0;
}


@media (max-width: 768px) {
  .text-container {
    margin-left: 1rem;
    margin-right: 1rem;
    max-width: 100%;
    padding: 0.5rem 0;
  }

  .title-dashboard {
    font-size: 1.5rem;
    
  }

  .text-dashboard {
    font-size: 0.95rem;
    text-align: justify;
  }
}

  

  /* .text-container{
    max-width: 100%;
    margin:0 150px;
    margin-top: 30px;
  } */

  /* .title-dashboard{
    margin: 20px 400px;
    color: #f0f0f0;
  } */
  
  .container {
  background-color: #f0f0f0; /* fondo gris */
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  max-width: 100%;
  margin: 40px ;
  width: 90%;
}

.cards-wrapper {
  overflow: hidden;
  position: relative;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #000000;
  text-align: left;
  padding-left: 10px;
}

.cards-row {
  display: flex;
  width: max-content;
  animation: scroll-left 15s linear infinite;
}

.card {
  min-width: 200px;
  height: 150px;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  flex-shrink: 0;
  padding: 1rem;
  text-align: center;
}
  
  /* Animación para scroll infinito */
  @keyframes scroll-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  /* Responsive para móviles */
  @media (max-width: 600px) {
    .card {
      min-width: 150px;
      height: 120px;
      font-size: 14px;
    }
  
    .container {
      padding: 10px;
    }
  }
  
  .section-container-skills{
    padding: 40px 20px;
    border-radius: 20px;
    margin: 40px auto;
    max-width: 1100px;
  }

  .section-container {
    background-color: #D9D9D9; 
    padding: 40px 20px;
    border-radius: 20px;
    margin: 30px auto;
    max-width: 1100px;
    position: relative;
  }
  .section-proyect{
    height: 290px;
  }
  .cv-button-wrapper {
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0;
  }
  
  .cv-button {
    background-color: #913CC2;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    max-width: 200px;
    height: 35px;
    text-align: center;
  }
  
  .titlex{
    color:#f0f0f0 !important;
  }
  .section-title {
    font-size: 1.5rem;
    color: #0e0d0d;
    margin-bottom: 20px;
    font-weight: 600;
    text-align: center;
  }
  
  .skills-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .skill-box {
    padding: 15px 25px;
    border: 2px solid #913CC2;
    border-radius: 10%;
    background-color: white;
    font-weight: 500;
    color: #913CC2;
    min-width: 120px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    height: 70px;  /* Ajustamos altura delicadamente */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Efecto hover */
  .skill-box:hover {
    background-color: #913CC2;
    color: white;
  }
  
  /* Responsive para pantallas pequeñas */
  @media (max-width: 600px) {
    .section-container {
      padding: 20px
    }
}  

.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #D9D9D9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-field {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  mat-form-field {
    width: 100%; /* Asegurar que los campos de Material también ocupen todo el ancho */
  }
  mat-form-field .mat-form-field-flex {
    border-radius: 10%; /* Bordes redondeados al 10% */
      border: 1px solid #913CC2 !important; /* Borde de 1px de color específico */
  }

  mat-form-field .mat-form-field-outline {
      border-radius: 10% !important; /* Bordes redondeados al 10% */
      border: 1px solid #913CC2 !important; /* Borde de 1px de color específico */
  }

  mat-form-field .mat-form-field-underline {
      display: none; /* Ocultar la línea inferior */
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  button {
    width: 45%;
  }
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cv-button{
    background-color: #913CC2 !important;
    color: white !important  ;
    border: none;
    padding: 5px;
    border-radius: 30px;
    font-size: 0.8rem;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
    max-width: 300px;
    height: 40px;
    text-align: center;
  }

  .text-dashboard {
    font-size: 14px;
    color: #030303;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  @media (max-width: 600px) {
    .contact-form {
      padding: 15px;
      width: 90%;
    }
  
    .form-buttons {
      flex-direction: column;
    }
  
    button {
      width: 100%;
      margin-bottom: 10px;
    }
  }
  