<div class="social-buttons-container">
  <a class="social-button" href="https://www.linkedin.com/in/juliangmz-dev" target="_blank" aria-label="LinkedIn">
    <i class="fab fa-linkedin-in"></i>
  </a>

  <a class="social-button" href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
    <i class="fab fa-facebook-f"></i>
  </a>

  <a class="social-button" href="https://wa.link/qeelcn" target="_blank" aria-label="WhatsApp">
    <i class="fab fa-whatsapp"></i>
  </a>
</div>




<div class="text-container">
  <h4 class="title-dashboard">Hello there 👋</h4>
  <p class="text-dashboardd">
    ¡Hola! Soy Julián.
Desarrollador argentino, curioso por naturaleza y fan de crear cosas con sentido. Tengo 29 años y hace tres años
 descubrí en la programación un mundo donde podía combinar lógica, creatividad y propósito. Hoy estoy terminando la carrera de Analista de Sistemas de Información, 
mientras disfruto colaborar en proyectos que realmente sumen. Si llegaste hasta acá, tal vez es hora de que hagamos algo juntos.
</div>


<div class="section-container section-proyect">
    <div class="cards-wrapper">
      <p class="title" style="color: black;">Proyectos</p>
      <div class="cards-row">
        <div class="card">Proyecto 1</div>
        <div class="card">Proyecto 2</div>
        <div class="card">Proyecto 3</div>
        <div class="card">Proyecto 4</div>
  
        
        <div class="card">Proyecto 1</div>
        <div class="card">Proyecto 2</div>
        <div class="card">Proyecto 3</div>
        <div class="card">Proyecto 4</div>
      </div>
    </div>
    <div class="cv-button-wrapper">
       

      <button class="cv-button" 
      (click)="goToGithub()"
      
      >Ir a ver los proyectos!</button>
    
  </div>
  </div>

  <div class="section-container-skills">
    <h2 class="section-title titlex">Habilidades</h2>
    <div class="skills-grid">
      <div class="skill-box">TypeScript</div>
      <div class="skill-box">JavaScript</div>
      <div class="skill-box">Node</div>
      <div class="skill-box">Angular</div>
      <div class="skill-box">SQL</div>
      <div class="skill-box">Git</div>
      <div class="skill-box">Postman</div>
      <div class="skill-box">HTML/CSS</div> 
    </div>
  
    <h2 class="section-title titlex">Idiomas</h2>
    <div class="skills-grid">
      <div class="skill-box">Español Nativo</div>
      <div class="skill-box">Inglés C1</div>
    </div>
  </div>

  <div class="section-container">
    <h2 class="section-title">Contacto</h2>
    <p class="text-dashboard">
      Si quieres ponerte en contacto conmigo, puedes hacerlo a través de este formulario.
    </p>

  <form class="contact-form" (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" name="name" [(ngModel)]="formData.name" required>
      </mat-form-field>
    </div>
  
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Organización</mat-label>
        <input matInput type="text" name="organization" [(ngModel)]="formData.organization" required>
      </mat-form-field>
    </div>
  
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="formData.email" required>
      </mat-form-field>
    </div>
  
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Mensaje</mat-label>
        <textarea matInput name="message" [(ngModel)]="formData.message" required></textarea>
      </mat-form-field>
    </div>
  
    <div class="form-buttons">
      <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid">
        Enviar mensaje
      </button>
      <button mat-raised-button color="accent" (click)="downloadCV()" type="button" class="cv-button">
        Descargar CV!
      </button>
    </div>
  </form>
  </div>