<div class="text-container">
  <h4 class="title-dashboard">Hello there 👋</h4>
  <p class="text-dashboardd">
    I'm Julián, a passionate and proactive developer from Argentina, currently 29 years old.  
    I thrive in collaborative environments and love building things with purpose.  
    My journey into the world of programming began about three years ago, and today I'm in the final stretch of becoming an Information Systems Analyst.
  </p>
</div>


<div class="section-container">
    <div class="cards-wrapper">
      <p class="title">Proyectos</p>
      <div class="cards-row">
        <div class="card">Proyecto 1</div>
        <div class="card">Proyecto 2</div>
        <div class="card">Proyecto 3</div>
        <div class="card">Proyecto 4</div>
  
        
        <div class="card">Proyecto 1</div>
        <div class="card">Proyecto 2</div>
        <div class="card">Proyecto 3</div>
        <div class="card">Proyecto 4</div>
      </div>
    </div>
  </div>

  <div class="section-container">
    <h2 class="section-title">Habilidades</h2>
    <div class="skills-grid">
      <div class="skill-box">TypeScript</div>
      <div class="skill-box">Angular</div>
      <div class="skill-box">Node</div>
      <div class="skill-box">JavaScript</div>
      <div class="skill-box">SQL</div>
      <div class="skill-box">Git</div>
      <div class="skill-box">Postman</div>
      <div class="skill-box">HTML/CSS</div> 
    </div>
  
    <h2 class="section-title">Idiomas</h2>
    <div class="skills-grid">
      <div class="skill-box">Español</div>
      <div class="skill-box">Inglés</div>
    </div>
  </div>

  <div class="section-container">
    <h2 class="section-title">Contacto</h2>
    <p class="text-dashboard">
      Si quieres ponerte en contacto conmigo, puedes hacerlo a través de este formulario.
    </p>

  <form class="contact-form" (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" name="name" [(ngModel)]="formData.name" required>
      </mat-form-field>
    </div>
  
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Organización</mat-label>
        <input matInput type="text" name="organization" [(ngModel)]="formData.organization" required>
      </mat-form-field>
    </div>
  
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput type="email" name="email" [(ngModel)]="formData.email" required>
      </mat-form-field>
    </div>
  
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Mensaje</mat-label>
        <textarea matInput name="message" [(ngModel)]="formData.message" required></textarea>
      </mat-form-field>
    </div>
  
    <div class="form-buttons">
      <button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid">
        Enviar mensaje
      </button>
      <button mat-raised-button color="accent" (click)="downloadCV()" type="button">
        Descargar CV
      </button>
    </div>
  </form>
  </div>