<div class="main-container">

  <div color="primary" class="header-container" >
      
      <span class="spacer"></span>
    
      <!-- Usamos botones con routerLink correctamente -->
       <div class="buttons">

         <button mat-button class="btn" routerLink="/">Inicio</button>
         <button mat-button class="btn" >Proyectos</button>
         <button mat-button class="btn" >Contacto</button>
       </div>
      <div class="circle"> </div>
      <div class="text-header">
        <h1><span class="typed-text"></span><span class="cursor">|</span></h1>
        <p style="color: white;">Web Developer</p>
      </div>
      <div class="cv-button-wrapper">
        <button class="cv-button">Descargar mi CV!</button>
      </div>
      
  </div>
</div>



  