<div class="main-container">

  <div color="primary" class="header-container" >
      
      <span class="spacer"></span>
    
      <!-- Usamos botones con routerLink correctamente -->
      <button mat-button class="btn" routerLink="/">Inicio</button>
      <button mat-button class="btn" >Proyectos</button>
      <button mat-button class="btn" >Contacto</button>
      <div class="circle"> </div>
      <div class="text-header">
        <h1 style="color: white;">Hey! Hola, soy <span>Julián</span> </h1>
        <p style="color: white;">Full Stack dev</p>
      </div>
  
  </div>
</div>
  